.con{
    display : flex;
    flex-direction : row;
    justify-content : center;
    margin : 30vh auto;
    
    
  }
  .dec{
    width : 200px;
    height : 200px;
    padding : 20px;
    background-color: blue;
    border : 1px solid grey;
    color : white;
    
  }
  
  .dec h1{
    margin-bottom : 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .dec p{
    color : yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
  }
  form {
    
    display : flex;
    flex-direction: column;
    justify-content : center;
    border : 1px solid grey;
    padding : 20px;
    width : 200px;
    height : 200px;
    
    
  
  }
  
  form input {
    
    margin-bottom: 20px;
    border : 0px ;
    border-bottom : 2px solid orangered;
    padding : 5px;
  }
  
  form input:focus 
  {
    outline : none;
  }
  
  form button {
   
    background-color: blue;
    color : white;
    padding : 5px;
    margin-bottom: 10px;
  }
  
  .error{
    text-align: center;
    color : red;
  }